name: Daily Greeting

on:
  schedule:
    - cron: '30 13 * * 2'   # Monday 22:00 SGT
    - cron: '0 3 * * 3'    # Monday 11:00 SGT
    - cron: '0 7 * * 3'    # Monday 15:00 SGT
    - cron: '0 10 * * 3'   # Monday 18:00 SGT
    - cron: '0 14 * * 3'   # Monday 22:00 SGT
  workflow_dispatch:
    inputs:
      timezone:
        description: 'Timezone for formatting the greeting (IANA name, e.g., Asia/Singapore).'
        required: false
        default: 'Asia/Singapore'

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script # run main.py
        run: python fetch.py
