name: Daily Greeting

on:
  schedule:
    - cron: '45 1 * * 4'   # (9:45 AM) - (9=1pm, 2=10pmm 3=11pm, 4=12pm)
    - cron: '0 6 * * 4'    # (2:00 PM) (5=1pm, 6=2pm)
    - cron: '0 9 * * 4'    # (9:00 PM) (8=4pm, 9=5pm)
    - cron: '0 14 * * 4'   # (10:00 PM) (13=9pm, 14=10pm)
    # Mon (1) | Tue (2) | Wednesday (3) | Thursday(4) | Friday(5) | Saturday(6) | Sunday(0)
  workflow_dispatch:
    inputs:
      timezone:
        description: 'Timezone for formatting the greeting (IANA name, e.g., Asia/Singapore).'
        required: false
        default: 'Asia/Singapore'

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script # run main.py
        run: python fetch.py
